/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Link
{
  text-decoration: none;
  color: whitesmoke;
}

.active
{
  border-bottom-style: solid;
  border-color: whitesmoke;
  border-width: 2px;
  
}
